---
---

body {
    font: "Open Sans", sans-serif;
    line-height: 1.4;
    text-align: justify;
    color: #424242;
    max-width: 35em;
    margin: 0 auto;
}

%bottom-borderline {
    border-bottom: 1px dashed #424242;
    margin-bottom: 1em;
}

header {
    @extend %bottom-borderline;
}

section {
    @extend %bottom-borderline;
}

a:link {
    color: #1565C0;
}

a:visited {
    color: #6A1B9A;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin: 0;
}

p {
    margin-top: 0;
}

ul {
    margin-top: 0;
}
