---
---

body {
    font: 100% "Georgia", serif;
    line-height: 1.4;
    background-color: #FAFAFA;
    color: #424242;
    max-width: 35em;
    margin: 1em auto;
}

%bottom-borderline {
    border-bottom: 1px dashed #424242;
    margin-bottom: 1em;
}

header {
    @extend %bottom-borderline;
}

section {
    @extend %bottom-borderline;
}

article {
    @extend %bottom-borderline;
}

h1 {
    margin-bottom: 0.25em;
    margin-top: 0;
}

h1.title {
    margin-bottom:  0;
}

h2 {
    margin-bottom: 0.25em;
}

h3 {
    margin-bottom: 0.25em;
}

h4 {
    margin-bottom: 0.25em;
}

div.mermaid {
    margin-top: 1.4em;
}

a:link {
    color: #1565C0;
}

a:visited {
    color: #6A1B9A;
}

p {
    margin-top: 0;
}

ul {
    margin-top: 0;
}
