<!DOCTYPE html>
<html lang="en">
    <head>
        {% include google_analytics.html %}

        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">

        {% if page.mathjax %}{% include mathjax.html %}{% endif %}
        {% feed_meta %}
        {% include page_seo_title.html %}
    </head>

    <body>
        <header>
            {% capture header_include %}{% include header.md %}{% endcapture %}
            {{ header_include | markdownify }}
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            {% capture footer_include %}{% include footer.md %}{% endcapture %}
            {{ footer_include | markdownify }}
        </footer>

        {% if page.mermaid %}{% include mermaid.html %}{% endif %}
    </body>
</html>
