<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
        {% seo %}
    </head>

    <body>
        <header>
            {% capture header_include %}{% include header.md %}{% endcapture %}
            {{ header_include | markdownify }}
        </header>

        <nav>
            {% include navigation.html %}
        </nav>

        <main>
            {{ content }}
        </main>

        <footer>
            {% capture footer_include %}{% include footer.md %}{% endcapture %}
            {{ footer_include | markdownify }}
        </footer>
    </body>
</html>
