<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
<style>
body {
  width: 50%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
</style>
    </head>
    <body>
        <h1>{{ page.title }}</h1>
        <p>
            {% for post in site.posts %}
                <a href="{{ post.url }}">{{ post.title }}</a>
            {% endfor %}
        </p>
        {{ content }}
    </body>
</html>
